<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= title %></title>
  <link rel="stylesheet" href="/css/output.css">
</head>
<body>  

    
  <%- include('./template/sidebar') %>
  <% const lastValue=value;%>
  <div class="p-4 bg-gray-100  h-screen sm:ml-64">
    <div class="  mt-14">
  <%- include(lastValue) %>
</div>
</div>

<script src="/flowbite/dist/flowbite.min.js"></script>
<script src="/flowbite/dist/datepicker.js"></script>
</body>
</html>
