<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login Page</title>
  <link href="/css/output.css" rel="stylesheet" />
</head>

<body class="bg-gray-100 h-screen flex items-center justify-center">
  <div class="max-w-md w-full bg-white p-8 rounded shadow-md">
    <h2 class="text-2xl font-semibold mb-6">Sign In</h2>
    <form id="loginForm">
      <div class="mb-4">
        <label for="emailLogin" class="block text-gray-700 text-sm font-semibold mb-2">Email Address</label>
        <input type="email" id="emailLogin" name="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
      </div>
      <div class="mb-4">
        <label for="passwordLogin" class="block text-gray-700 text-sm font-semibold mb-2">Password</label>
        <input type="password" id="passwordLogin" name="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
      </div>
      <button type="submit"
        class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 transition duration-150 ease-in-out">
        Sign In
      </button>
    </form>
    <div class="mt-4 text-sm text-center">
      <a href="#" class="text-blue-500 hover:underline">Forgot your password?</a>
    </div>
    <div class="mt-4 text-sm text-center">
      Don't have an account?
      <a href="#" data-modal-target="register-modal" data-modal-toggle="register-modal"
        class="text-blue-500 hover:underline">Sign up</a>
    </div>
  </div>

  <!-- Register modal Start -->
  <div id="register-modal" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            Sign Up
          </h3>
          <button type="button"
            class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-hide="register-modal">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->

        <div class="md:p-5">
          <form class="p-2" id="registerForm">
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="firstNameRegister">
                Name
              </label>
              <input
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                id="firstNameRegister" type="text" />
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="lastNameRegister">
                Surname
              </label>
              <input
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                id="lastNameRegister" type="text" />
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="emailRegister">
                E-mail
              </label>
              <input
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                id="emailRegister" type="email" />
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="passwordRegister">
                Password
              </label>
              <input
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                id="passwordRegister" type="password" />
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="genderRegister">
                Gender
              </label>
              <div class="relative">
                <select
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  id="genderRegister">
                  <option>Male</option>
                  <option>Female</option>
                  <option>Non-Binary</option>
                  <option>Other</option>
                  <option>I don't want to specify.</option>
                </select>
              </div>
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="birthDate">
                Birth Date
              </label>
              <div class="relative max-w-full">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                  <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path
                      d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                  </svg>
                </div>
                <input datepicker datepicker-autohide type="text" id="birthRegister"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Choose your birth date" />
              </div>
            </div>
            <div class="flex items-center justify-between">
              <button
                class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 transition duration-150 ease-in-out"
                type="submit">
                Sign Up
              </button>
            </div>

        </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Register modal End -->
  <script>
    let registerForm = document.getElementById("registerForm");
    let loginForm = document.getElementById("loginForm");

    loginForm.onsubmit = async function (event) {
      event.preventDefault();
      data = {
        emailLogin: document.getElementById("emailLogin").value,
        passwordLogin: document.getElementById("passwordLogin").value,
      };

      console.log(data);


      try {
        const response = await fetch('/login', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(data)
        });

        if (!response.ok) {
          throw new Error('Kullanıcı adı veya şifre yanlış');
        }

        window.location.href = '/'; // Başarılıysa ana sayfaya yönlendir
      } catch (error) {
        console.error('Login error:', error);
        alert(error.message);
      }



    };



    registerForm.onsubmit = function (event) {
      event.preventDefault();

      data = {
        firstNameRegister: document.getElementById("firstNameRegister").value,
        lastNameRegister: document.getElementById("lastNameRegister").value,
        emailRegister: document.getElementById("emailRegister").value,
        passwordRegister: document.getElementById("passwordRegister").value,
        genderRegister: document.getElementById("genderRegister").value,
        birthRegister: document.getElementById("birthRegister").value,
      };

      console.log(data);

      fetch("/register", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      })
        .then((response) => {
          if (response.status === 400) {
            console.log("veri tabanında bu mail zaten kayıtlı.");
            return response.json();
          } else if (!response.ok) {
            throw new Error("Network response was not ok");
          } else {
            return response.json();
          }
        })
        .then((data) => {
          console.log(data);
        })
        .catch((error) => {
          // Hata durumunda işlem yapın
          console.error("Fetch Error:", error);
        });
    };

  </script>
  <script src="/flowbite/dist/flowbite.min.js"></script>
  <script src="/flowbite/dist/datepicker.js"></script>
</body>

</html>